<section class="orders light-section">
    <div class="container mx-auto pt-10">
        <h1 class="font-bold text-lg mb-4">My Orders</h1>
        <% if(messages.success) { %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
            <p><%= messages.success%></p>
        </div>
        <% } %>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders Id</th>
                    <th class="px-4 py-2 text-left">Item</th>
                    <th class="px-4 py-2 text-left">Payment</th>
                    <th class="px-4 py-2 text-left">Time</th>
                </tr>
            </thead>
            <tbody>
                <%
                function renderItems(items){
                    let parsedItems = Object.values(items)
                    return parsedItems.map((menuItem) => {
                        return `${ menuItem.title} - ${ menuItem.qty } pcs `
                    }).join('')
                }
                %>
                <%
                function renderImage(items){
                    let parsedItems = Object.values(items)
                    return parsedItems.map((menuItem) => {
                        return ` ${menuItem.image}`
                    }).join('')
                }
                %>
                <% if(orders.length) { %>
                <% orders.forEach((order) => { %>
                        <tr>
                            <td class="border px-4 py-2">
                                <a class="link" href="/customer/orders/<%= order._id %>"><%= order._id %></a> 
                            </td>
                            <td class="border px-4 py-2">
                                 <p><%= renderItems(order.items) %></p>  
                            </td>
                            <td class="border px-4 py-2">
                                <%= order.paymentType %>
                            </td>
                            <td class="border px-4 py-2">
                                <%= moment(order.createdAt).format('hh:mm A') %>
                            </td>
                        </tr>  
                <% }) %>           
                <% } else { %>
                    <tr>
                        <td class="p-4"><span>No orders found</span></td>
                    </tr>

                <% } %>
            </tbody>
        </table>
    </div>
</section>